# Application
APP_NAME=No No Fake News
APP_VERSION=0.1.0
DEBUG=True
SECRET_KEY=generate-a-safe-key-here

# Database
DATABASE_URL=postgresql://nnfn_user:nnfn_password@localhost:5432/nnfn_db

# Redis
REDIS_URL=redis://localhost:6379/0

# APIs externes
GOOGLE_FACT_CHECK_API_KEY=
NEWS_API_KEY=
